source https://api.nuget.org/v3/index.json
framework: net10.0
storage: none

nuget FSharp.Core
nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
nuget Fake.Core.Target
nuget Fake.DotNet.Cli
nuget Fake.IO.FileSystem
