source https://api.nuget.org/v3/index.json
framework: net10.0
storage: none

nuget FSharp.Core
nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
nuget Fake.Core.Target
nuget Fake.DotNet.Cli
nuget Fake.IO.FileSystem

nuget Avalonia 11.3.13
nuget Avalonia.Desktop 11.3.13
nuget Avalonia.Themes.Fluent 11.3.13
nuget Avalonia.Fonts.Inter 11.3.13
nuget Avalonia.FuncUI 1.6.0
nuget Avalonia.FuncUI.Elmish 1.6.0
nuget Avalonia.Skia 11.3.13
nuget Avalonia.Headless 11.3.13
nuget Avalonia.Headless.XUnit 11.3.13
